<ng-container *ngFor="let state of savedState$ | async">
    <div class="container">
        <h1><span><mat-icon>build</mat-icon></span>Tools</h1>

        <div cdkDropList #toolsList="cdkDropList" [cdkDropListData]="state.tools"
             [cdkDropListConnectedTo]="cart" class="list" (cdkDropListDropped)="dropItemLogic($event, 'ToolsDropList')">
            <ng-container *ngIf="state.tools.length == 0">
                <mat-icon>build</mat-icon>
                Nothing left to choose from in the tools list!
            </ng-container>
            <ng-container *ngIf="state.tools.length !== 0">
                <div class="list-item" *ngFor="let item of state.tools" cdkDrag>
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-price">
                        <mat-icon>attach_money</mat-icon>
                        {{ item.price }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="container">
        <h1><span><mat-icon>shopping_cart</mat-icon></span>Cart</h1>

        <div cdkDropList #cart="cdkDropList" [cdkDropListData]="state.cart"
             [cdkDropListConnectedTo]="toolsList" class="list"
             (cdkDropListDropped)="dropItemLogic($event, 'CartDropList')">
            <ng-container *ngIf="state.cart.length == 0">
                <div class="list-item">
                    <mat-icon>shopping_cart</mat-icon>
                    Nothing in the Cart! Add some tools!
                </div>
            </ng-container>
            <ng-container *ngIf="state.cart.length !== 0">
                <div class="list-item" *ngFor="let item of state.cart" cdkDrag>
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-price">
                        <mat-icon>attach_money</mat-icon>
                        {{ item.price }}
                    </div>
                </div>
            </ng-container>
            <div class="container">
                <h2>Total</h2>
                <h4>
                    <mat-icon>attach_money</mat-icon>
                    {{ state.total | number: '.2'}}</h4>
            </div>
        </div>
    </div>
</ng-container>
